#include "PRTS/screens/ili9341.dtsi"
#include "PRTS/boards/dji_board_c_prts.dtsi"

/ {
	chosen {
		zephyr,display = &ili9341;
	};

	// use dji_board_c
	status_leds: status-leds {
		compatible = "status-leds";
		leds = <&leds>;
		heartbeat-led-index = <0>;
		error-led-index = <1>;
	};

};

