// for prts configuration
#include "prts/displays/ili9341_controller.dtsi"
#include "prts/boards/dji_board_c.dtsi"


/ {

	// use dji_board_c
	status_leds: status-leds {
		compatible = "status-leds";
		leds = <&leds>;
		heartbeat-led-index = <0>;
		error-led-index = <1>;
	};

};

