menuconfig UNIT
    bool "Unit"
    help
        Enable One Framework's Unit in Application Layer.

if UNIT

config UNIT_THREAD_ANALYZER
    bool "Enable Thread Analyzer for thread monitoring"
    default y
    select THREAD_ANALYZER

    help
          自动启用Zephyr的线程分析器功能，用于监控每个线程的CPU、内存使用率。

endif # UNIT