menuconfig UNIT
    bool "Unit"
    select DYNAMIC_THREAD
    select DYNAMIC_THREAD_ALLOC
    help
        Enable One Framework's Unit in Application Layer.

if UNIT

config UNIT_LOG_LEVEL
    int "Unit系统日志级别"
    default 3
    range 0 4
    help
        设置Unit系统的日志级别：
        - 0: OFF
        - 1: ERROR
        - 2: WARNING
        - 3: INFO
        - 4: DEBUG

config UNIT_THREAD_ANALYZER
    bool "Enable Thread Analyzer for thread monitoring"
    default y
    select THREAD_ANALYZER
#     select THREAD_RUNTIME_STATS_USE_TIMING_FUNCTIONS
    help
          自动启用Zephyr的线程分析器功能，用于监控每个线程的CPU、内存使用率。

endif # UNIT