
config OUTPUT
    bool "Output drivers"
    help
        Enable support for output drivers like buzzers, motors, etc.

config ONE_FRAMEWORK
    bool "One Framework框架"
    select SERIAL
    select CONSOLE
    select LOG
#     select CBPRINTF_FP_SUPPORT
    select UART_CONSOLE
    select LOG_BACKEND_UART_OUTPUT
    select CPP
    select REQUIRES_FULL_LIBCPP
    select INPUT
    select OUTPUT
    help
        启用One Framework框架。
        包含了One Framework框架的默认、常用Kconfig选项。

if ONE_FRAMEWORK

choice STD_CPP
    prompt "C++ Standard"
    depends on CPP
    default STD_CPP20
endchoice

rsource "drivers/Kconfig"
rsource "lib/Kconfig"
endif # ONE_FRAMEWORK