menuconfig CONTROLLER_HUB
    bool "ControllerHub"
    depends on INPUT_DBUS || INPUT_SBUS
    help
        启用OneFramework控制器中心

if CONTROLLER_HUB

module = CONTROLLER_HUB
module-str = ControllerHub
source "subsys/logging/Kconfig.template.log_config"


endif # CONTROLLER_HUB