menu "OneFramework Libraries"

rsource "Unit/Kconfig"
rsource "PRTS/Kconfig"
rsource "HubManager/Kconfig"
rsource "ControllerHub/Kconfig"
rsource "ImuHub/Kconfig"
rsource "NotifyHub/Kconfig"
rsource "CommBridge/Kconfig"


endmenu
