menuconfig IMU_CENTER
    bool "IMUService"
    select SENSOR
    help
        启用 OneFramework IMU 中心

if IMU_CENTER

choice
    prompt "IMU Device"
    default IMU_CENTER_USE_BMI08X
    help
        IMU中心使用的IMU设备

config IMU_CENTER_USE_BMI08X
    bool "IMU Center use BMI08x"
    select BMI08X
    select SENSOR_ASYNC_API
    help
        使用BMI08X作为IMU Center设备
endchoice

module = IMU_CENTER
module-str = IMU_CENTER
source "subsys/logging/Kconfig.template.log_config"


endif # IMU_CENTER