menuconfig UNIT
    bool "Unit"
    select DYNAMIC_THREAD
    select DYNAMIC_THREAD_ALLOC
    help
        Enable One Framework's Unit in Application Layer.

if UNIT

config UNIT_LOG_LEVEL
    int "Unit系统日志级别"
    default 3
    range 0 4
    help
        设置Unit系统的日志级别：
        - 0: OFF
        - 1: ERROR
        - 2: WARNING
        - 3: INFO
        - 4: DEBUG

config UNIT_THREAD_ANALYZER
    bool "为Unit启用线程分析"
    default y
    select THREAD_ANALYZER
    select THREAD_RUNTIME_STATS_USE_TIMING_FUNCTIONS
    help
        自动启用Zephyr的线程分析器功能，用于监控每个线程的CPU、内存使用率。

if UNIT_THREAD_ANALYZER
    config THREAD_ANALYZER_ISR_STACK_USAGE
    default n
endif

config UNIT_RESTART_WAITING_TIME
    int "Unit重启最大等待时间"
    default 2000
    help
        单位：毫秒


endif # UNIT