menuconfig PRTS
    bool "PRTS"
    select UNIT
    select SHELL
    select SERIAL
    select SHELL_BACKEND_SERIAL

    help
        启用 P.R.T.S. (Primitive RoboMaster Terminal Service).

if PRTS

config HEAP_MEM_POOL_ADD_SIZE_PRTS
    int "PRTS预分配堆内存"
    default 5000
    help
        PRTS所需的堆大小

endif # PRTS