menuconfig PRTS
    bool "PRTS"
    select UNIT
    select SHELL
    select SERIAL
    select SHELL_BACKEND_SERIAL

    help
        启用 P.R.T.S. (Primitive RoboMaster Terminal Service).

if PRTS

config HEAP_MEM_POOL_ADD_SIZE_PRTS
    int "PRTS预分配堆内存"
    default 5000
    help
        PRTS所需的堆大小

config SHELL_ECHO_STATUS
    bool "终端ECHO效果"
    default n
    help
        影响桌面端程序解析字符串，默认关闭

endif # PRTS