menuconfig PRTS
    bool "PRTS"
    select UNIT
    select DISPLAY
    select INPUT
    select LVGL
    help
        Enable P.R.T.S. (Plug-in RoboMaster Terminal Screen).

if PRTS

config HEAP_MEM_POOL_ADD_SIZE_PRTS
    int "PRTS heap size"
    default 5000
    help
        PRTS所需的堆大小

endif # PRTS