menuconfig CONTROLLER_CENTER
    bool "ControllerCenter"
    depends on INPUT_DBUS || INPUT_SBUS
    help
        启用OneFramework控制器中心

if CONTROLLER_CENTER

module = CONTROLLER_CENTER
module-str = ControllerCenter
source "subsys/logging/Kconfig.template.log_config"


endif # CONTROLLER_CENTER