config INPUT_DBUS
	bool "DBUS 驱动"
	default n
	depends on INPUT
	depends on UART_INTERRUPT_DRIVEN
	select UART_USE_RUNTIME_CONFIGURE
	help
	  启用DBUS遥控驱动。

if INPUT_DBUS

config INPUT_DBUS_THREAD_STACK_SIZE
	int "DBUS线程栈大小"
	default 1024
	help
	  DBUS线程使用的栈大小。

config INPUT_DBUS_THREAD_PRIORITY
	int "Priority for the DBUS thread"
	default 0
	help
	  Priority level of the sbus thread.

config INPUT_DBUS_REPORT_FILTER
	int "Minimal change in signal to report"
	default 1
	help
	  DBUS tends to be a bit noisy you can increase the threshold to
	  lower the amounts of input events. Set to 0 for no filtering

config INPUT_DBUS_SEND_SYNC
	bool "Send Sync to input subsys on each SBUS frame"
	default y
	help
	  Sends sync message to input subsys with sync bit.

config INPUT_DBUS_CHANNEL_VALUE_ONE
	int "Threshold value > for INPUT_EV_KEY value 1"
	default 1800
	help
	  SBUS sends analogue values for digital switches. This config value
	  sets the threshold to interperted the analogue value as an logic 1

config INPUT_DBUS_CHANNEL_VALUE_ZERO
	int "Threshold value < for INPUT_EV_KEY value 0"
	default 1200
	help
	  SBUS sends analogue values for digital switches. This config value
	  sets the threshold to interperted the analogue value as an logic 0

endif # INPUT_DBUS
